.loginsignup{
    width:100% ;
    height: 100vh;
    background:#fce3fe ;
    padding-top: 100px;
}
.logincontainer{
    width: 580px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
    
}
.logincontainer h1{
    margin: 20px 0px;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.field input{
    height: 45px;
    width:100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;

}
.logincontainer button{
    width: 470px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight:500 ;
}
.login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}