.item{
    width: 250px;
}
.item p{
    margin: 6px 0px;
}
.itemprices{
    display: flex;
    gap: 20px;

}
.itemnew{
    color: #374151;
    font-size: 18px;
    font-weight:600 ;
}
.itemold{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration:line-through ;
}
.item:hover
{
    transform: scale(1.05);
    transition: 0.6s;

}
.item img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    
}