.listproduct{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}
.formatmain{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    

}
.removeicon{
    width: 100%;
    cursor: pointer;
    margin: auto;

}
.productimage{
    width: 100%;
    height: 80px;
}
.format{
    align-items: center;
    font-family: 500;
}
.allproducts{
    overflow-y: auto;
}
@media (max-width:500px) {
    .listproduct{
        box-sizing:border-box;
        height: 100%;
        width: 95px;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .formatmain{
        padding: 15px 0;
        color:#454545;
        font-size: 12px;

    }
}
