.navbar{
    display:flex;
    justify-content:space-around;
    padding:16px;
    box-shadow:0 1px 3px -2px black;
}
.navbar img{
    width:50px;
}
.navlogo{
    display:flex;
    align-items:center;
    gap: 10px;
}
.navlogo p{
    font-weight: 600;
    color: #171717;
    font-size: 30px;
}
.navmenu{
    display:flex;
    align-items:center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    font-family: 500;
}
.navmenu{
    display:flex;
    align-items:center;
    gap: 20px;
    font-size: 20px;
    font-family: 500;
    cursor: pointer;
}
.navmenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;

}

.navlogincart{
    display:flex;
    align-items:center;
    gap: 40px;
    font-size: 20px;
    font-family: 500;
    cursor: pointer;
}
.navlogincart button{
    width: 157px;
    height: 58px;
    outline:none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background: white;

}

.navlogincart button:active{
    background-color: #f3f3f3;
}

.navcartcount{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 15px;
    background-color: red;
    color: white;
}

a{
    color: black;
    text-decoration: none;
}
.navdropdown{
    display: none;
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }
    .navlogo img{
        width: 40px;
    }
    .navlogo{
        font-size: 25px;
    }
    .navmenu{
        gap:30px;
        font-size: 16px;

    }
    .navlogincart{
        gap: 30px;
    }
    .navlogincart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .navcartcount{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .navmenu{
        gap: 25px;
        font-size: 14px;
    }
    .navlogincart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .navlogincart img{
        width: 30px;
    }
    .navcartcount{
        width: 18px;
        height: 18px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .navdropdown{
        display: block;
        width: 5px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .navmenu{
        display:none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;

    }
    .navvisible{
        display: flex;
    }
}