.offers{
    width:80%;
    margin-top:90px ;
    height: 60vh;
    display: flex;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffe022 65%);




}
.offersleft{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.offersleft h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offersleft p{
    color: #171717;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
.offersleft button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color:white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;

}
.offerright{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 200px;
    
    
}